apiVersion: v1
kind: StatefulSet
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  serviceName: postgres-svc
  replicas: 3
  selector:
    matchLabels:
      app: postgres-pod
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: postgres-pod
        image: postgres:15
        ports:
          containerPort: 5432
        env:
        - name: POSTGRES_DB
          value : coordinates_db
        - name: POSTGRES_USER
          value : postgres
        - name: POSTGRES_PASSWORD
          value : postgres
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
volumeClaimTemplates:
  - metadata:
      name: postgres-storage
      labels:
        app: postgres
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
    mountPath: /var/lib/postgresql/data


